body
{
    font-family: Arial, Sans, sans-serif;
    text-align: center;
}

a
{
    color: #039;
}

#header, #content, #footer
{
    margin-left: auto;
    margin-right: auto;
    text-align: left; 
    width: 760px;
}

#content
{
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    margin: 10px 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

#footer
{
    font-size: 80%;
    text-align: center;
}
